.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  padding: 0;
  color: var(--gray-15);
}

.btn > svg {
  width: 30px;
  height: 30px;
  color: var(--gray-15);
}
