.container {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--primera-10);
  row-gap: var(--space-400);
}

.h1 {
  color: var(--primera-20);
  font-size: var(--fs-hero-100);
  text-shadow: var(--text-shadow);
  margin-block: var(--space-600) var(--space-400);
}

.date {
  font-weight: var(--f-wei-900);
  font-size: var(--fs-300);
  text-align: right;
  margin-block: var(--space-300);
}

.subTitle {
  font-weight: var(--f-wei-600);
}

.line {
  display: none;
  background-color: var(--primera-90);
  border-radius: var(--b-radius-300);
}

.content h2:not(:first-of-type) {
  margin-block-start: var(--space-400);
}

.aside {
  background-color: var(--primera-100);
  padding: var(--space-400);
  border-radius: var(--b-radius-300);
  overflow: hidden;
  box-shadow: var(--shadow-300);
  display: flex;
  flex-direction: column;
  gap: var(--space-400);

  & img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: calc(var(--b-radius-300) - var(--space-200));
  }
}

@media (min-width: 44rem) {
  .container {
    grid-template-columns: 25% 1rem 1fr;
    grid-template-rows: auto auto;
    column-gap: var(--space-400);
    row-gap: var(--space-800);
    margin-block-end: clamp(var(--space-400), 2vw, var(--space-900));
  }

  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    padding-inline: clamp(var(--space-400), 6vw, 8rem);
  }
  .h1 {
    margin-block: 5rem var(--space-800);
    max-width: 16ch;
  }
  .subTitle {
    text-align: right;
    padding-inline-start: clamp(var(--space-600), 7vw, 6rem);
  }

  .line {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  .content {
    grid-column: -2 / -1;
    grid-row: 2 / 3;
  }
  .content h2:not(:first-of-type) {
    margin-block-start: var(--space-500);
  }
  .aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: var(--space-300);
    gap: var(--space-300);
  }
}

@media (min-width: 57rem) {
  .container {
    grid-template-columns: 30% 1.6rem 1fr;
    column-gap: var(--space-600);
    row-gap: var(--space-900);
  }
  .subTitle {
    padding-inline-start: clamp(var(--space-900) 9vw, 10rem);
  }
  .content h2:not(:first-of-type) {
    margin-block-start: var(--space-600);
  }
  .aside {
    border-radius: var(--b-radius-400);
    padding: var(--space-400);

    & img {
      border-radius: calc(var(--b-400) - var(--space-200));
    }
  }
}
