.navContainer {
  position: fixed;
  inset: 0;
  padding: 1rem;
  z-index: 10000;
}

.navBackground {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(3px);
}

.navDrawer {
  position: absolute;
  inset: var(--space-400);
  background-color: var(--secondary-11);
  color: var(--gray-2);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--space-200);
  padding: var(--space-400);
  overflow-y: auto;
}

.details {
  padding: var(--space-200);
  margin-left: var(--space-800);
}

.summary {
  font-size: var(--fs-800);
  list-style-position: outside;
  cursor: pointer;
  user-select: none;
}

.summary::marker,
.summary::-webkit-details-marker {
  color: var(--gray-8);
}

.closeBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-200);
  font-weight: var(--f-wei-500);
  font-size: var(--fs-500);
  margin-top: auto;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-3);
  border-radius: 1em;
  box-shadow: var(--shadow-400);
  transition: scale 0.2s;
}

.closeBtn:hover {
  scale: 1.02;
}

.closeBtn > svg {
  width: 2em;
  height: 2em;
}
