.container {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--quinta-90);
  flex: 0 0 clamp(16.8rem, 40vw, 21.25rem);
  border-radius: var(--b-radius-400);
  overflow: hidden;
  box-shadow: var(--shadow-400);
}

.titleContainer {
  position: relative;
  color: var(--base-white-20);
}

.titleContainer img {
  object-fit: cover;
  aspect-ratio: 16/9;
}

.h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--segunda-10);
  padding-block: 0.4rem;
  padding-inline: 1.2rem;
  opacity: 0.8;
  transform: translateY(30%);
  box-shadow: var(--shadow-400);
  border-start-end-radius: var(--b-radius-200);
  border-end-end-radius: var(--b-radius-200);
  font-stretch: var(--f-str-75);
}
.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 1.6rem 1rem 1rem;
}

.p {
  /* limit number of lines */
  -webkit-line-clamp: 9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-clamp: 9;
  color: var(--quinta-10);
}
.link {
  align-self: end;
  color: inherit;
  font-size: var(--fs-300);
  padding: var(--space-200);
}
