.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  appearance: none;
  background: none;
  border: none;
  color: var(--gray-15);
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: var(--f-wei-500);
  cursor: pointer;
}

.pending {
  opacity: 30%;
}
