.container {
  margin-block: var(--space-900);
}

.opinionsTitle {
  line-height: var(--lh-100);
}

.decorativeLine {
  height: var(--space-100);
  background-color: var(--base-black-20);
  margin-block: var(--space-300);
  border-radius: var(--b-radius-100);
}

.starIcons {
  display: flex;
  font-size: var(--fs-200);
  opacity: 0.8;
}

.opinionsContainer {
  background: linear-gradient(
    to bottom,
    var(--segunda-80),
    var(--base-white-20) 95%
  );
  border-radius: clamp(var(--space-400), 4vw, var(--space-900));
  overflow: hidden;
}

.firstOpinionArticle {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--segunda-10);
}

.firstOpinionHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block: var(--space-400);
  background-color: var(--segunda-70);
}

.firstOpinionHeader h3 {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-800);
}

.firstOpinionArticle blockquote {
  padding: var(--space-600);
  text-align: center;
  font-weight: var(--f-wei-500);
}

.otherOpinionsContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(var(--space-300), 2vw, var(--space-400));
  background-color: var(--base-white-20);
  margin-inline: clamp(var(--space-400), 4vw, var(--space-900));
  border-radius: clamp(var(--b-radius-400), 4vw, var(--space-800));
  padding: clamp(var(--space-300), 3vw, var(--space-700));
  margin-block-start: clamp(var(--space-100), 4vw, 4rem);
}

.secondOpinionArticle {
  padding: clamp(var(--space-300), 3vw, var(--space-600));
  border-radius: calc(
    clamp(var(--b-radius-400), 4vw, var(--space-800)) - var(--space-300)
  );
  box-shadow: var(--shadow-300);
}

.secondOpinionArticle img {
  width: 4rem;
  height: auto;
  float: right;
}

.secondOpinionArticle p {
  margin-block-start: var(--space-300);
  /* line-height: var(--lh-200); */
}

.bgColor1 {
  background-color: var(--sexta-70);
  color: var(--sexta-10);
}

.bgColor2 {
  background-color: var(--cuarta-70);
  color: var(--cuarta-10);
}

.bgColor3 {
  background-color: var(--primera-70);
  color: var(--primera-10);
}

.bgColor4 {
  background-color: var(--tercera-90);
  color: var(--tercera-10);
}

.bgColor5 {
  background-color: var(--segunda-90);
  color: var(--segunda-10);
}

.thirdOpinionsContainer {
  display: flex;
  flex-direction: column;
  gap: clamp(var(--space-300), 2vw, var(--space-400));
}

@media (min-width: 37rem) {
  .opinionsContainer {
    background: linear-gradient(
      to bottom,
      var(--segunda-80),
      var(--base-white-20) 70%
    );
  }

  .otherOpinionsContainer {
    margin-inline: clamp(var(--space-400), 8vw, 8rem);
  }

  .firstOpinionArticle {
    grid-template-columns: 1fr 2fr;
  }

  .firstOpinionArticle blockquote {
    text-align: left;
  }

  .firstOpinionHeader {
    border-end-end-radius: clamp(var(--space-400), 4vw, var(--space-900));
  }

  .bgColor4 {
    background-color: var(--segunda-90);
    color: var(--segunda-10);
  }

  .thirdOpinionsContainer {
    flex-direction: row;
    margin-block-start: var(--space-400);
    gap: clamp(var(--space-300), 2vw, var(--space-700));
  }
}
