/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

/* Mixed with this cool one: 
  A (more) Modern CSS Reset: Andy Bell
  https: //piccalil.li/blog/a-more-modern-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Prevenir la inflación del tamaño de fuente */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  /* min-height: 100vh; */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Eliminar los estilos de lista en los elementos ul, ol con un rol de lista, lo que sugiere que se eliminará el estilo por defecto */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Los elementos <a> que no tienen una clase obtienen estilos por defecto*/
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Asegúrate de que los elementos textarea sin un atributo rows no sean pequeños */
textarea:not([rows]) {
  min-height: 10em;
}

/* Cualquier cosa que haya sido anclada debería tener un margen de desplazamiento adicional */
:target {
  scroll-margin-block: 5ex;
}

/* Establecer alturas de línea más cortas en encabezados y elementos interactivos */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}
