@import url("css-reset.css");
@import url("colors.css");
@import url("fonts.css");

body {
  color: var(--gray-15);
}

.visually-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}
