:root {
  --fs-100: clamp(0.51rem, 0.03vi + 0.51rem, 0.53rem);
  --fs-200: clamp(0.64rem, 0.11vi + 0.61rem, 0.7rem);
  --fs-300: clamp(0.8rem, 0.24vi + 0.74rem, 0.94rem);
  --fs-400: clamp(1rem, 0.44vi + 0.9rem, 1.25rem);
  --fs-500: clamp(1.25rem, 0.74vi + 1.08rem, 1.67rem);
  --fs-600: clamp(1.56rem, 1.16vi + 1.29rem, 2.22rem);
  --fs-700: clamp(1.95rem, 1.78vi + 1.54rem, 2.96rem);
  --fs-800: clamp(2.44rem, 2.66vi + 1.82rem, 3.95rem);
  --fs-900: clamp(3.05rem, 3.91vi + 2.14rem, 5.26rem);
  --fs-hero-100: clamp(3.5rem, 3.5vi + 3rem, 7rem);

  --f-str-75: 75%;
  --f-str-90: 90%;
  --f-str-100: 100%;
  --f-str-110: 110%;
  --f-str-125: 125%;

  --f-wei-200: 200;
  --f-wei-300: 300;
  --f-wei-400: 400;
  --f-wei-500: 500;
  --f-wei-600: 600;
  --f-wei-700: 700;
  --f-wei-800: 800;
  --f-wei-900: 900;

  --lh-100: 1;
  --lh-200: 1.2;
  --lh-300: 1.3;
  --lh-400: 1.4;
  --lh-500: 1.5;
}

h1 {
  font-size: var(--fs-800);
  font-weight: var(--f-wei-900);
  font-stretch: var(--f-str-90);
  line-height: var(--lh-100);
  hyphens: auto;
  hyphenate-limit-chars: 4 2;
}

h2 {
  font-size: var(--fs-600);
  font-weight: var(--f-wei-800);
  font-stretch: var(--f-str-90);
  line-height: var(--lh-100);
  hyphens: auto;
  hyphenate-limit-chars: 4 2;
}

h3 {
  font-size: var(--fs-500);
  font-weight: var(--f-wei-700);
  font-stretch: var(--f-str-100);
  line-height: var(--lh-200);
  hyphens: auto;
  hyphenate-limit-chars: 4 2;
}

h4 {
  font-size: var(--fs-400);
  font-weight: var(--f-wei-600);
  font-stretch: var(--f-str-100);
  hyphens: auto;
  hyphenate-limit-chars: 4 2;
}

p {
  hyphens: auto;
  hyphenate-limit-chars: 4 2;
  line-height: var(--lh-500);
}

strong {
  font-weight: var(--f-wei-700);
}

address {
  font: inherit;
}
